<?php

return [
    'database' => [
        'default' => [
            'driver' => 'MySQL',
            'host' => 'localhost',
            'port' => '3306',
            'user' => 'root',
            'password' => '',
        ]
    ]
];